<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
    <title>{{title}}</title>
</head>
<body>
<header>
    <nav class="navbar navbar-light bg-light">
        <div>
            <h1 class="d-block" href="#">Добро пожаловать на сайт TimeTable</h1>
            <h4 class="d-block">Разработано для YaLyc by Bolper</h4>
        </div>
        <div>
            <a class="d-flex" href="/index">Home</a>
            <a class="d-flex" href="/login">Login</a>
            <a class="d-flex" href="/logout">Logout</a>
            <a class="d-flex" href="/register">Register</a>
            <a class="d-flex" href="/user/change_password">Change password</a>
        </div>
    </nav>
</header>

<main role="main" class="container">
    {% block content %}{% endblock %}
</main>

</body>
</html>