{% extends "_base.html" %}

{% block content %}
    <h3 class="text-center">{{ title }}</h3>
    {% if current_user.is_authenticated %}
        <a href="/notes" class="btn btn-secondary">Add note</a>
    {% endif %}
    <table class="table">
        {% for note in notes %}
            <div>
                <thead>
                    <tr>
                        <td colspan="6">
                            <h4>Action # {{ note.id }}</h4>
                            {% if current_user.is_authenticated %}
                                <div>
                                    <a href="/notes/{{ note.id }}" class="btn btn-warning">
                                        Edit
                                    </a>
                                    <a href="/notes_delete/{{ note.id }}" class="btn btn-danger">
                                        Remove
                                    </a>
                                </div>
                            {% endif %}
                        </td>
                    </tr>
                    <tr class="table-secondary">
                        <th>Name of note</th>
                        <th class="text-center">Description</th>
                        <th class="text-center">Position</th>
                        <th class="text-center">Starts</th>
                        <th class="text-center">Ends</th>
                        <th class="text-center">Is finished</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ note.name }}</td>
                        <td class="text-center">{{ note.description }}</td>
                        <td class="text-center">{{ note.position }} hours</td>
                        <td class="text-center">{{ note.starts }}</td>
                        <td class="text-center">{{ note.ends }}</td>
                        {% if note.is_finished %}
                            <td class="table-success text-center">Is finished</td>
                        {% else %}
                            <td class="table-danger text-center">Is not finished</td>
                        {% endif %}
                    </tr>
                </tbody>

            </div>
        {% endfor %}
    </table>
{% endblock %}
